# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [7]:
# Import the file and print the first 5 rows
df = pd.read_csv('./data/Zipcode_Demos.csv', header=47)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 47 columns):
47                                     10 non-null int64
JURISDICTION NAME                      10 non-null int64
COUNT PARTICIPANTS                     10 non-null int64
COUNT FEMALE                           10 non-null int64
PERCENT FEMALE                         10 non-null float64
COUNT MALE                             10 non-null int64
PERCENT MALE                           10 non-null float64
COUNT GENDER UNKNOWN                   10 non-null int64
PERCENT GENDER UNKNOWN                 10 non-null int64
COUNT GENDER TOTAL                     10 non-null int64
PERCENT GENDER TOTAL                   10 non-null int64
COUNT PACIFIC ISLANDER                 10 non-null int64
PERCENT PACIFIC ISLANDER               10 non-null int64
COUNT HISPANIC LATINO                  10 non-null int64
PERCENT HISPANIC LATINO                10 non-null float64
COUNT AMERICAN INDIAN                  10 non-null int64
PERCENT AMERICAN INDIAN                10 non-null int64
COUNT ASIAN NON HISPANIC               10 non-null int64
PERCENT ASIAN NON HISPANIC             10 non-null float64
COUNT WHITE NON HISPANIC               10 non-null int64
PERCENT WHITE NON HISPANIC             10 non-null float64
COUNT BLACK NON HISPANIC               10 non-null int64
PERCENT BLACK NON HISPANIC             10 non-null float64
COUNT OTHER ETHNICITY                  10 non-null int64
PERCENT OTHER ETHNICITY                10 non-null float64
COUNT ETHNICITY UNKNOWN                10 non-null int64
PERCENT ETHNICITY UNKNOWN              10 non-null int64
COUNT ETHNICITY TOTAL                  10 non-null int64
PERCENT ETHNICITY TOTAL                10 non-null int64
COUNT PERMANENT RESIDENT ALIEN         10 non-null int64
PERCENT PERMANENT RESIDENT ALIEN       10 non-null float64
COUNT US CITIZEN                       10 non-null int64
PERCENT US CITIZEN                     10 non-null float64
COUNT OTHER CITIZEN STATUS             10 non-null int64
PERCENT OTHER CITIZEN STATUS           10 non-null int64
COUNT CITIZEN STATUS UNKNOWN           10 non-null int64
PERCENT CITIZEN STATUS UNKNOWN         10 non-null int64
COUNT CITIZEN STATUS TOTAL             10 non-null int64
PERCENT CITIZEN STATUS TOTAL           10 non-null int64
COUNT RECEIVES PUBLIC ASSISTANCE       10 non-null int64
PERCENT RECEIVES PUBLIC ASSISTANCE     10 non-null float64
COUNT NRECEIVES PUBLIC ASSISTANCE      10 non-null int64
PERCENT NRECEIVES PUBLIC ASSISTANCE    10 non-null float64
COUNT PUBLIC ASSISTANCE UNKNOWN        10 non-null int64
PERCENT PUBLIC ASSISTANCE UNKNOWN      10 non-null int64
COUNT PUBLIC ASSISTANCE TOTAL          10 non-null int64
PERCENT PUBLIC ASSISTANCE TOTAL        10 non-null int64
dtypes: float64(11), int64(36)
memory usage: 3.8 KB

In [9]:
# Print the last 5 rows of df
df.head()

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,48,10001,44,22,0.50,22,0.50,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
1,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
2,50,10003,1,1,1.00,0,0.00,0,0,1,...,1,100,0,0.00,1,1.00,0,0,1,100
3,51,10004,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,52,10005,2,2,1.00,0,0.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100

In [ ]:
# What is going on with this data set? Anything unusual?

In [ ]:
# Clean up the dataset
# I fixed the header issue.

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [25]:
import re
# Hint: Here's a useful programming pattern to use
skip = []
while True:
    try:
        df = pd.read_csv('./data/Yelp_Reviews_Corrupt.csv', skiprows=skip)
    except Exception as e:
        skip.append(int(re.findall('line (\d+)', str(e))[0]) - 1)
        continue
    break
print(skip)
df.head()

[2330, 2339, 2340, 2342, 2348, 2349, 2351, 2357, 2358, 2378, 2380, 2381, 2383, 2385, 2387, 2388, 2391, 2392, 2393, 2406, 2426, 2429, 2437, 2438, 2439, 2440, 2441, 2444, 2445, 2472, 2473, 2474, 2484, 2486, 2487, 2495, 2503, 2504, 2506, 2520, 2521, 2524, 2532, 2547, 2560, 2562, 2563, 2564, 2570, 2573, 2574, 2576, 2582, 2583, 2620, 2621, 2630, 2631, 2632, 2635, 2639, 2640, 2673, 2675, 2705, 2707, 2711, 2713, 2714, 2736, 2745, 2751, 2752, 2753, 2757, 2760, 2761, 2766, 2768, 2770, 2784, 2786, 2809, 2816, 2830, 2834, 2836, 2840, 2841, 2847, 2884, 2900, 2901, 2902, 2921, 2922, 2923, 2930, 2939, 2954, 2957, 2970, 2971, 2994, 2997, 2998, 3006, 3018, 3034, 3063, 3065, 3068, 3078, 3079, 3085, 3091, 3105, 3116, 3119, 3121, 3124, 3125, 3126, 3151, 3158, 3168, 3220, 3233, 3234, 3252, 3256, 3273, 3282, 3287, 3288, 3289, 3307, 3308, 3309, 3324, 3328, 3337, 3338, 3343, 3349, 3360, 3361, 3374, 3375, 3376, 3377, 3383, 3384, 3385, 3402, 3403, 3404, 3412, 3413, 3421, 3422, 3434, 3436, 3437, 3438, 3441, 3442, 3466, 3467, 3469, 3470, 3473, 3474, 3475, 3477, 3478, 3479, 3497, 3511, 3512, 3513, 3514, 3515, 3518, 3520, 3521, 3522, 3528, 3529, 3530, 3531, 3536, 3537, 3539, 3558, 3560, 3564, 3565, 3566, 3567, 3590, 3591, 3594, 3614, 3626, 3633, 3640, 3651, 3652, 3655, 3656, 3657, 3671, 3712, 3722, 3724, 3725, 3727, 3732, 3733, 3734, 3739, 3748, 3754, 3755, 3761, 3767, 3775, 3796, 3798, 3804, 3805, 3832, 3843, 3844, 3863, 3876, 3883, 3886, 3888, 3902, 3907, 3916, 3917, 3918, 3925, 3926, 3927, 3945, 3952, 3953, 3954, 3955, 3956, 3958, 3966, 3974, 3975, 3980, 3993, 3996, 4003, 4013, 4014, 4019, 4034, 4040, 4041, 4049, 4050, 4051, 4053, 4054, 4063, 4065, 4066, 4067, 4068, 4069, 4071, 4089, 4090, 4106, 4118, 4119, 4120, 4121, 4125, 4126, 4129, 4130, 4131, 4137, 4139, 4169, 4172, 4179, 4196, 4213, 4241, 4248, 4249, 4256, 4257, 4258, 4260, 4266, 4267, 4276, 4281, 4282, 4284, 4285, 4287, 4304, 4307, 4309, 4311, 4312, 4313, 4323, 4328, 4329, 4335, 4351, 4352, 4374, 4376, 4377, 4382, 4408, 4417, 4418, 4420, 4442, 4444, 4449, 4451, 4454, 4455, 4463, 4486, 4493, 4494, 4502, 4503, 4504, 4526, 4562, 4563, 4564, 4576, 4577, 4588, 4604, 4605, 4606, 4607, 4608, 4625, 4631, 4640, 4657, 4658, 4659, 4664, 4669, 4689, 4694, 4721, 4728, 4729, 4740, 4741, 4763, 4764, 4774, 4775, 4776, 4780, 4781, 4783, 4785, 4786, 4787, 4800, 4801, 4802, 4803, 4805, 4807, 4808, 4824, 4832, 4838, 4839, 4853, 4855, 4858, 4859, 4860, 4861, 4862, 4863, 4864, 4865, 4869, 4877, 4879, 4880, 4890, 4895, 4896, 4908, 4910, 4911, 4917, 4918, 4921, 4923, 4924, 4934, 4966, 4974, 4975, 4976, 4990, 5017, 5029, 5030, 5031, 5032, 5034, 5035, 5047, 5049, 5062, 5071, 5079, 5080, 5081, 5084, 5086, 5092, 5094, 5095, 5097, 5098, 5099, 5110, 5117, 5118, 5138, 5139, 5140, 5142, 5150, 5154, 5169, 5174, 5179, 5180, 5181, 5187, 5188, 5194, 5195, 5197, 5233, 5234, 5236, 5237, 5245, 5254, 5257, 5266, 5267, 5270, 5271, 5276, 5290, 5292, 5293, 5294, 5297, 5301, 5302, 5303, 5309, 5322, 5326, 5328, 5329, 5332, 5333, 5334, 5362, 5363, 5376, 5377, 5383, 5384, 5391, 5393, 5394, 5405, 5416, 5427, 5430, 5431, 5432, 5433, 5434, 5468, 5469, 5471, 5472, 5473, 5476, 5487, 5497, 5501, 5513, 5531, 5543, 5551, 5552, 5562, 5563, 5572, 5600, 5608, 5609, 5610, 5611, 5615, 5617, 5618, 5619, 5631, 5632, 5633, 5635, 5636, 5637, 5638, 5646, 5647, 5655, 5662, 5663, 5665, 5688, 5693, 5737, 5742, 5779, 5780, 5781, 5788, 5789, 5790, 5791, 5814, 5815, 5816, 5818, 5835, 5844, 5858, 5860, 5862, 5863, 5864, 5865, 5868, 5871, 5877, 5879, 5883, 5902, 5904, 5905, 5909, 5917, 5918, 5919, 5937, 5940, 5962, 5967, 5968, 5969, 5971, 5974, 5987, 5989, 6019, 6021, 6022, 6023, 6026, 6028, 6035, 6046, 6047, 6054, 6055, 6061, 6063, 6068, 6070, 6083, 6084, 6085, 6108]

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

## Summary

Congratulations, you now practiced your Pandas-importing skills!